<html>
    <head>
        <title>Панель управління</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../../../image/icons/16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../../../image/icons/32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../../../image/icons/96.png" sizes="96x96">
        <link href="style/panel/admin.style.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <script type="text/javascript" src="script/jquery-3.2.1.js"></script>
        <script type="text/javascript" src="script/panel/admin.script.js"></script>
    </head>
    <body>
        <header role="banner">
            <h1>Панель управління</h1>
            <ul class="utilities">
                <li class="users"><a href="#">Мій аккаунт</a></li>
                <li class="logout warn"><a href="">Вихід</a></li>
            </ul>
        </header>

        <nav role="navigation">
            <ul class="main">
                <li class="dashboard"><a href="#">Головна сторінка</a></li>
                <li class="write"><a href="#">Магазин</a></li>
                
                <li class="users"><a href="#">Юзери</a></li>
            </ul>
        </nav>

        <main role="main">
            <section class="panel important">
                <h2>Легенда</h2>
                <textarea id="leg"></textarea>
                <div class="buttonLine">
                    <div>
                        <input type="submit" value="Зберегти" id="submitLeg"/>
                    </div> 
                </div>
            </section>
            <section class="panel">
                <h2>Статистика</h2>
                <ul>
                    <li><b>0 </b> відвідувачів</li>
                    <li><b>0</b> покупок.</li>
                   
                </ul>
            </section>                  
        </main>
        <footer role="contentinfo">Riznyk</footer>
    </body>    
</html>
