<html>
    <head>
        <title>Панель управління</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../../../image/icons/16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../../../image/icons/32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../../../image/icons/96.png" sizes="96x96">
        <link href="style/panel/admin.style.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <script type="text/javascript" src="script/jquery-3.2.1.js"></script>
        <script type="text/javascript" src="script/panel/admin.script.js"></script>
    </head>
    <body style="margin:0;">
        <header role="banner">
            <h1>Панель управління</h1>
            <ul class="utilities">
                <li class="users"><a href="#">Мій аккаунт</a></li>
                <li class="logout warn"><a href="">Вихід</a></li>
            </ul>
        </header>

        <nav role="navigation">
            <ul class="main">
                <li class="bluBTN dashboard"><a href="#">Головна сторінка</a></li>
                <li class="bluBTN write"><a href="#">Товари</a></li>
                <li class="bluBTN users"><a href="#">Користувачі</a></li>
                <li class="bluBTN paysb"><a href="#">Замовлення</a></li>
            </ul>
        </nav>

        <main role="main" class="panelBlock mains">
            <section class="panel important">
                <h2>Легенда</h2>
                <textarea id="leg"></textarea>
                <div class="buttonLine">
                    <div>
                        <input type="submit" value="Зберегти" id="submitLeg"/>
                    </div> 
                </div>
            </section>
            <section class="panel">
                <h2>Статистика</h2>
                <ul>
                    <li class="kilUse"><b>0 </b> відвідувачів</li>
                    <li><b>0</b> покупок.</li>

                </ul>
            </section>    
            <section class="panel">
                <h2>Робота сайту</h2>
                <ul>
                    <li><b>Головна сторінка</b> (Активна)</li>
                    <li><b>Магазин</b> (Розробка)</li>

                </ul>
            </section> 
        </main>

        <main role="main" class="panelBlock shops">
            <section class="panel important">
                <h2>Товари</h2>
                <div class="section50">
                    <div class="btnNew" id="newTovar">Додати новий товар</div>
                    <div class="btnNew" id="deleteTovar">Видалити товар</div>
                    <div class="ListSearch">
                        <input type="text" id="listSearch" placeholder="Пошук (введіть ID або Назву товару)">
                    </div>
                    <div class="listbox">  

                        <% for(var i = 0; i < tovar.length; i++) { %>
                        <div class="listItems">
                            <div class="listID"><%= tovar[i].id %></div>
                            <div class="listNAME"><%= tovar[i].name %></div>
                        </div>
                        <% } %>                
                    </div>

                    <div class="dataTovar disabled" >
                        <div class="lineData" id="photo">
                            <span>Зображення</span>
                            <div class="betaImage">
                                <p style="display: none;"><input type="file" name="file" id="file" /></p>
                                <img>
                                <div class="updateImage" id="updateImage">Вибрати зображення</div>
                                <script type="text/javascript">
                                    window.addEventListener('load', function () {
                                        var image = document.getElementById('updateImage');
                                        var file = document.getElementById('file');
                                        image.addEventListener('click', function () {
                                            file.click();
                                        }, false);
                                        file.addEventListener('change', function () {
                                            if (this.files && this.files[0]) {
                                                var reader = new FileReader();
                                                reader.onload = function (e) {
                                                    $.post('/upload', {imgagesBASE: e.target.result, tovarID: $('#lineID input').val()}, function (data) {
                                                        console.log(data);
                                                        $('.betaImage').css({"background-image": "url(" + e.target.result + ")"});
                                                    });
                                                };
                                                reader.readAsDataURL(this.files[0]);
                                            }
                                        }, false);
                                    }, false);
                                </script>
                            </div>
                        </div>
                        <div class="lineData" id="lineID">
                            <span>ID</span>
                            <input class="input" type="text">
                        </div>
                        <div class="lineData" id="lineName">
                            <span>Назва</span>
                            <input class="input" type="text">
                        </div>
                        <div class="lineData" id="linePrice">
                            <span>Ціна</span>
                            <input class="input" type="text">
                        </div>
                        <div class="lineData">
                            <span>Категорія</span>
                            <input class="input" type="text">
                        </div>
                        <div class="lineData" id="ttt">
                            <span>Опис</span>
                            <textarea class="input" id="text"></textarea>
                        </div>
                    </div>
                </div>            
            </section>

            <div class="addNewTovar">
                <div class="closeNewTovar">X</div>
                <div class="dataTovar">                
                    <div class="lineData2">
                        <span>Назва</span>
                        <input class="input2" type="text" id="newName">
                    </div>
                    <div class="lineData2">
                        <span>Ціна</span>
                        <input class="input2" type="text" id="newPrice">
                    </div>
                    <div class="lineData2">
                        <span>Категорія</span>
                        <select id="newCategories">
                            <option value="Ковбаса">Ковбаса</option>
                            <option value="Соус">Соус</option>
                            <option value="Вино">Вино</option>
                        </select>

                    </div>
                    <div class="lineData2">
                        <span>Кількість</span>
                        <input class="input2" type="text" id="newLength">
                    </div>
                    <div class="lineData2" id="ttt">
                        <span>Опис</span>
                        <textarea class="input2" id="newText"></textarea>
                    </div>
                </div>

                <div class="bbttnn" id="saveNewsTovar">Зберегти</div>
            </div>              
        </main>

        <main role="main" class="panelBlock mains">
            <section class="panel important">
                <h2>Список користувачів:</h2>
            </section>       
            <section class="panel important">
                <div class="userList">
                    
                </div>
            </section>      
        </main>

        <main role="main" class="panelBlock paysbbb">
            <section class="panel important">
                <h2>Список замовлень</h2>

            </section>      
            <section class="panel important">
                <div class="refreshPays"></div>
                <div class="paysTitle">
                    <div class="pays">
                        <div class="tn0 payLines">*</div>
                        <div class="tn1 payLines">ID</div>
                        <div class="tn3 payLines">ПІБ</div>
                        <div class="tn4 payLines">Сумма</div>
                        <div class="tn5 payLines">Статус замовлення</div>
                        <div class="tn6 payLines">Статус оплати</div>
                        <div class="tn7 payLines">Номер</div>
                    </div>    
                </div>
                <div class="paysList"></div>
            </section>  
            
            <section class="panel important" id="paymentSector">
                <h2>Деталі замовлення</h2>
                <div class="detailsZAKAZ"></div>      
                <div class="detailsZAKAZ"></div>      
                <div class="detailsZAKAZ"></div>      
                <div class="detailsZAKAZ"></div>      
                <div class="detailsZAKAZ"></div>      
                <div class="detailsZAKAZ"></div>      
                <div class="detailsZAKAZ"></div>      
            </section> 
            
            <section class="panel important" id="paymentSector">
                <h2>Керування замовленням</h2>
                <div class="statusZakaz nbRED disabled" id="dd1">Видалити</div>
                <div class="statusZakaz nbBLUE disabled" id="dd2">Скасувати замовлення</div>
                <div class="statusZakaz nbYellow disabled" id="dd3">Прийнято до обробки</div>
                <div class="statusZakaz nbGREEN disabled" id="dd4">Товар відправленно</div>               
            </section> 
        </main>

        <footer role="contentinfo">Riznyk</footer>

        <div class=""></div>
    </body>    
</html>
