<html>
    <head>
        <title>Панель управління</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../../../image/icons/16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../../../image/icons/32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../../../image/icons/96.png" sizes="96x96">
        <link href="style/panel/admin.style.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <script type="text/javascript" src="script/jquery-3.2.1.js"></script>
        <script type="text/javascript" src="script/panel/admin.script.js"></script>
    </head>
    <body>
        <div class="content">
            <div class="header">
                <div class="head-btn">Головна сторінка</div>
                <div class="head-btn">Магазин</div>
            </div>
            <div class="contents">
                <div class="data-form" id="main">
                    <div class="block legend">
                        <div class="block-title">Легенда</div>
                        <div class="block-content">
                            <textarea id="legend"></textarea>                         
                            <button id="sendLegend">Зберегти</button>
                        </div>
                    </div>
                    <div class="block news">
                        <div class="block-title">Новини</div>
                        <div class="block-content">
                            <div class="news-cont" id="newsList">
                                
                            </div>
                            <div class="news-cont">
                                <div class="tt">ID</div>
                                <input type="text" id="news1">
                                <div class="tt">Назва</div>
                                <input type="text" id="news2">
                                <div class="tt">Текст</div>
                                <textarea type="text" id="news3"></textarea>
                                <div class="tt">Дата</div>
                                <input type="text" id="news4">
                                
                                <div class="btn-panel">
                                    <div class="btn" id="newsSAVE">Зберегти змінни</div>
                                    <div class="btn" id="newsDELETE">Видалити новину</div>
                                    <div class="btn" id="newsADD">Додати новину</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="data-form"></div>
            </div>
            <div class="bottom"></div>
        </div>
    </body>    
</html>
