<!DOCTYPE html>
<html>
    <head>
        <title>Різник - Львівська масарня</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="icon" type="image/png" href="../../../image/icons/16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../../../image/icons/32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../../../image/icons/96.png" sizes="96x96">
        
        <link rel="stylesheet" type="text/css" href="style/jquery.fullpage.css" />
        <link href="style/index/index-style.css" rel="stylesheet" type="text/css"/>
        
        <script src="script/jquery-3.2.1.js" type="text/javascript"></script>
        <script src="script/jquery.min.js" type="text/javascript"></script>
        <script src="script/jquery.fullPage.js" type="text/javascript"></script>
        
        <script src="script/vivus.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="script/index/index-script.js"></script>
    </head>
    <body>
        
                
        <label for="hamburger" class="menu-btn">
            <input type="checkbox" id="hamburger"/>
            <div class="container-menu">
              <div class="menu"></div>
            </div>
        </label>
        
        <div id="page-menu">
            <div class="benu-center-block">
                <div class="page-menu-btn activeBTN">Головна</div>
                <div class="page-menu-btn">Про нас</div>
                <div class="page-menu-btn">Фото</div>
                <div class="page-menu-btn">Інформація</div>
            </div>
        </div>
        
        <div id="fullpage">
            <div class="preload">                 
                <div id="loadingImage">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50.2452mm" height="70.4675mm" version="1.1" viewBox="0 0 134495 199427" id="hi-there">
                     <defs>
                      <style type="text/css">
                       <![CDATA[
                        .str0 {stroke:#FEFEFE;stroke-width:1157.19}
                        .fil1 {fill:none;fill-rule:nonzero}
                        .fil0 {fill:#FEFEFE;fill-rule:nonzero}
                       ]]>
                      </style>
                     </defs>
                     <g id="Layer_x0020_1">
                      <metadata id="CorelCorpID_0Corel-Layer"/>
                        <path class="fil0 noneSVG" d="M82055 22786c2385,0 4130,620 5236,1864 1105,1240 1659,3241 1659,5999 0,1218 -112,2322 -336,3316 -223,994 -609,1845 -1155,2552 -547,708 -1261,1261 -2143,1659 -882,397 -1994,596 -3335,596l-1640 0 0 9950 -4024 0 0 -25936 5738 0zm-1714 3764l0 8383 1417 0c1241,0 2105,-355 2589,-1066 484,-710 727,-1778 727,-3200 0,-1272 -230,-2278 -690,-3013 -459,-737 -1311,-1104 -2552,-1104l-1491 0z"/>
                        <polygon class="fil0 noneSVG" points="102923,48722 106947,48722 106947,22786 102923,22786 "/>
                        <path class="fil0 noneSVG" d="M75348 87524c24,1143 234,1944 628,2404 394,460 948,689 1663,689 714,0 1263,-322 1645,-969 382,-646 573,-1677 573,-3093 0,-2658 -759,-3987 -2273,-3987l-1565 0 0 -3428 1639 0c770,0 1335,-355 1696,-1062 360,-708 540,-1671 540,-2889 0,-1018 -211,-1806 -634,-2365 -422,-559 -1006,-839 -1751,-839 -795,0 -1374,298 -1733,895 -360,596 -552,1341 -577,2235l-3876 -856c124,-1938 751,-3448 1882,-4529 1130,-1080 2614,-1621 4453,-1621 4149,0 6223,2311 6223,6932 0,423 -25,907 -74,1453 -50,547 -156,1100 -317,1658 -161,559 -385,1075 -671,1546 -285,473 -664,834 -1136,1082l0 112c447,223 819,540 1117,950 299,410 535,870 709,1378 174,510 298,1057 372,1640 75,584 112,1187 112,1807 0,2708 -538,4690 -1613,5944 -1077,1255 -2666,1882 -4769,1882 -1907,0 -3418,-534 -4536,-1602 -1118,-1069 -1678,-2596 -1678,-4584l3951 -783z"/>
                        <polygon class="fil0 noneSVG" points="107134,94270 107134,82941 102513,82941 102513,94270 98489,94270 98489,68333 102513,68333 102513,79177 107134,79177 107134,68333 111159,68333 111159,94270 "/>
                        <polygon class="fil0 noneSVG" points="80547,123569 75106,139817 71230,139817 71230,113881 75143,113881 75143,130314 75291,130314 80695,113881 84608,113881 84608,139817 80658,139817 80658,123569 "/>
                        <path class="fil0 noneSVG" d="M99513 139817l0 -25936 4025 0 0 10955 820 0c894,0 1627,-261 2198,-782 572,-522 1006,-1454 1304,-2795 50,-224 156,-690 318,-1397 161,-709 322,-1466 484,-2274 161,-807 316,-1565 466,-2273 148,-708 248,-1174 297,-1397l3765 0c-274,1317 -547,2614 -821,3894 -273,1280 -546,2566 -819,3857 -274,1267 -690,2291 -1249,3074 -558,782 -1198,1322 -1918,1620l0 75c943,349 1675,908 2198,1677 521,770 919,1789 1192,3056 323,1467 628,2913 913,4342 285,1429 590,2863 913,4304l-4024 0c-249,-1267 -497,-2534 -745,-3801 -249,-1268 -510,-2535 -783,-3802 -273,-1390 -689,-2359 -1248,-2906 -560,-546 -1286,-820 -2180,-820l-1081 0 0 11329 -4025 0z"/>
                        <polygon class="fil0 noneSVG" points="0,183138 134495,183138 134495,181927 0,181927 "/>
                        <path class="fil0 noneSVG" d="M3727 194487c0,857 -30,1564 -93,2122 -62,558 -162,1018 -301,1379 -138,362 -319,649 -541,864 -223,214 -499,405 -829,575l-481 -761c195,-143 374,-288 534,-435 161,-146 300,-338 415,-575 116,-236 202,-539 261,-908 57,-370 86,-850 86,-1438l0 -5454 3878 0 0 9304 -1057 0 0 -8328 -1872 0 0 3655z"/>
                        <path class="fil0 noneSVG" d="M10718 199160l0 -9304 1057 0 0 3757 761 0c508,0 920,66 1237,199 316,133 563,321 742,561 178,240 298,525 361,853 62,329 93,689 93,1081 0,435 -33,829 -100,1179 -67,351 -189,652 -367,901 -179,248 -420,440 -723,573 -302,133 -690,200 -1162,200l-1899 0zm1057 -1002l748 0c313,0 562,-47 749,-140 187,-95 330,-224 427,-389 99,-164 163,-358 194,-581 31,-222 48,-459 48,-709 0,-241 -14,-466 -41,-675 -26,-209 -91,-394 -194,-554 -102,-161 -250,-287 -441,-381 -191,-94 -448,-140 -769,-140l-721 0 0 3569z"/>
                        <path class="fil0 noneSVG" d="M21880 194281c410,125 688,377 836,755 147,379 219,841 219,1383 0,963 -197,1661 -594,2093 -396,432 -1013,648 -1851,648l-1791 0 0 -9304 1964 0c802,0 1369,215 1699,642 329,428 494,1034 494,1819 0,489 -72,879 -213,1168 -143,291 -398,538 -763,742l0 54zm-40 -1971c0,-479 -105,-846 -314,-1098 -209,-253 -559,-380 -1050,-380l-721 0 0 2968 708 0c490,0 842,-129 1056,-386 214,-257 321,-625 321,-1104zm80 4003c0,-508 -95,-900 -287,-1176 -192,-277 -560,-415 -1103,-415l-775 0 0 3488 828 0c294,0 529,-50 702,-153 174,-103 308,-240 401,-414 93,-174 156,-374 188,-602 31,-227 46,-470 46,-728z"/>
                        <polygon class="fil0 noneSVG" points="26946,199160 28002,199160 28002,189856 26946,189856 "/>
                        <path class="fil0 noneSVG" d="M35327 194281c410,125 688,377 836,755 147,379 221,841 221,1383 0,963 -199,1661 -595,2093 -398,432 -1014,648 -1852,648l-1791 0 0 -9304 1965 0c801,0 1368,215 1698,642 329,428 494,1034 494,1819 0,489 -71,879 -214,1168 -142,291 -397,538 -762,742l0 54zm-40 -1971c0,-479 -105,-846 -314,-1098 -209,-253 -559,-380 -1049,-380l-722 0 0 2968 708 0c490,0 842,-129 1057,-386 213,-257 320,-625 320,-1104zm81 4003c0,-508 -97,-900 -288,-1176 -191,-277 -560,-415 -1103,-415l-775 0 0 3488 829 0c294,0 527,-50 701,-153 174,-103 308,-240 401,-414 94,-174 157,-374 188,-602 31,-227 47,-470 47,-728z"/>
                        <path class="fil0 noneSVG" d="M42372 189775c722,0 1245,198 1570,590 326,392 488,904 488,1536l-1056 188c9,-409 -65,-736 -221,-975 -155,-242 -420,-362 -794,-362 -215,0 -389,49 -522,147 -134,98 -239,221 -314,367 -77,148 -127,311 -154,488 -26,179 -41,348 -41,508l0 4693c0,133 15,278 41,434 27,156 77,299 154,428 75,129 178,238 307,327 129,90 300,133 515,133 348,0 603,-106 769,-320 165,-214 252,-553 260,-1016l1083 187c-18,669 -199,1190 -541,1564 -344,375 -858,561 -1544,561 -705,0 -1230,-195 -1578,-587 -347,-393 -521,-945 -521,-1658l0 -4598c0,-329 28,-653 87,-970 58,-315 162,-596 314,-842 152,-245 365,-443 642,-595 276,-151 628,-228 1056,-228z"/>
                        <path class="fil0 noneSVG" d="M48133 199160l0 -9304 1056 0 0 3757 762 0c508,0 920,66 1236,199 316,133 563,321 742,561 179,240 299,525 361,853 62,329 94,689 94,1081 0,435 -34,829 -101,1179 -66,351 -189,652 -367,901 -178,248 -419,440 -722,573 -303,133 -691,200 -1163,200l-1898 0zm1056 -1002l748 0c312,0 562,-47 749,-140 187,-95 329,-224 428,-389 97,-164 163,-358 194,-581 31,-222 46,-459 46,-709 0,-241 -14,-466 -40,-675 -26,-209 -92,-394 -193,-554 -103,-161 -250,-287 -441,-381 -192,-94 -449,-140 -769,-140l-722 0 0 3569z"/>
                        <path class="fil0 noneSVG" d="M56113 199160l0 -9304 1056 0 0 4051 482 0c133,0 273,-14 421,-40 146,-27 289,-87 427,-181 138,-94 268,-230 387,-408 121,-177 216,-423 288,-735l641 -2687 963 0 -614 2728c-99,454 -246,835 -442,1143 -196,307 -428,509 -695,608 347,124 615,345 802,661 187,316 330,706 428,1170l668 2994 -1056 0 -601 -2807c-71,-312 -161,-564 -268,-756 -107,-191 -232,-338 -375,-441 -142,-102 -291,-169 -447,-200 -156,-30 -314,-47 -474,-47l-535 0 0 4251 -1056 0z"/>
                        <path class="fil0 noneSVG" d="M67836 199160l-428 -2072 -2072 0 -415 2072 -1015 0 1977 -9304 990 0 2005 9304 -1042 0zm-1498 -7392l-387 2166 -441 2178 1711 0 -455 -2205 -374 -2139 -54 0z"/>
                        <polygon class="fil0 noneSVG" points="82673,192717 81938,194641 80975,196901 80481,196901 79519,194641 78783,192717 78730,192717 78730,199160 77674,199160 77674,189856 78743,189856 79853,192757 80708,195029 80748,195029 81630,192690 82713,189856 83797,189856 83797,199160 82740,199160 82740,192717 "/>
                        <path class="fil0 noneSVG" d="M91282 199160l-428 -2072 -2072 0 -414 2072 -1016 0 1978 -9304 989 0 2006 9304 -1043 0zm-1497 -7392l-388 2166 -441 2178 1711 0 -454 -2205 -375 -2139 -53 0z"/>
                        <path class="fil0 noneSVG" d="M97858 189775c722,0 1245,198 1571,590 325,392 488,904 488,1536l-1056 188c9,-409 -65,-736 -221,-975 -155,-242 -421,-362 -794,-362 -215,0 -389,49 -522,147 -134,98 -239,221 -314,367 -77,148 -128,311 -154,488 -27,179 -41,348 -41,508l0 4693c0,133 14,278 41,434 26,156 77,299 154,428 75,129 178,238 307,327 129,90 300,133 515,133 347,0 603,-106 769,-320 163,-214 251,-553 260,-1016l1082 187c-17,669 -197,1190 -540,1564 -344,375 -859,561 -1545,561 -704,0 -1229,-195 -1577,-587 -348,-393 -521,-945 -521,-1658l0 -4598c0,-329 28,-653 86,-970 59,-315 163,-596 315,-842 151,-245 365,-443 641,-595 276,-151 629,-228 1056,-228z"/>
                        <path class="fil0 noneSVG" d="M107042 199160l-428 -2072 -2072 0 -415 2072 -1015 0 1978 -9304 989 0 2005 9304 -1042 0zm-1498 -7392l-387 2166 -441 2178 1711 0 -455 -2205 -374 -2139 -54 0z"/>
                        <path class="fil0 noneSVG" d="M113498 189856c472,0 860,63 1163,187 303,126 543,306 721,542 178,236 302,526 368,869 67,342 100,732 100,1169 0,393 -30,758 -93,1097 -62,338 -183,634 -361,889 -179,253 -426,452 -742,594 -316,143 -728,214 -1236,214l-762 0 0 3743 -1056 0 0 -9304 1898 0zm-842 4585l721 0c321,0 577,-49 769,-147 192,-99 339,-228 442,-389 102,-162 166,-349 194,-564 26,-214 39,-442 39,-684 0,-250 -16,-487 -47,-711 -31,-224 -95,-418 -194,-584 -98,-166 -241,-295 -427,-389 -187,-94 -437,-141 -749,-141l-748 0 0 3609z"/>
                        <polygon class="fil0 noneSVG" points="122774,199160 122774,194869 120609,194869 120609,199160 119553,199160 119553,189856 120609,189856 120609,193947 122774,193947 122774,189856 123831,189856 123831,199160 "/>
                        <path class="fil0 noneSVG" d="M127694 199160l561 -2901c70,-338 170,-648 294,-928 125,-281 325,-506 600,-676 -231,-62 -422,-160 -573,-294 -151,-134 -272,-289 -362,-468 -89,-178 -151,-376 -187,-594 -35,-219 -54,-453 -54,-702 0,-891 188,-1571 564,-2039 371,-468 939,-702 1696,-702l2045 0 0 9304 -1055 0 0 -4158 -561 0c-117,0 -245,17 -382,48 -139,31 -272,98 -402,200 -129,103 -249,247 -360,435 -112,187 -193,441 -246,762l-497 2713 -1081 0zm1337 -6569c0,984 428,1476 1290,1476l902 0 0 -3235 -808 0c-268,0 -495,45 -672,135 -180,89 -320,212 -424,369 -103,156 -178,342 -221,557 -45,215 -67,447 -67,698z"/>
                        <path class="fil1 str0" d="M34845 102289c1771,1320 2893,2883 3544,4606l12111 -990c336,-9614 965,-19213 1420,-28824 266,-5644 352,-11294 664,-16934 346,-6230 646,-12475 1348,-18671 1032,-9093 5061,-28141 3863,-31835 -1509,-4654 -5346,-6620 -10207,-6642 -4779,-20 -9565,41 -14326,-277 -4473,-298 -8914,-1584 -13367,-2148 -154,-20 -1621,3246 -1801,5018 51,42 104,350 154,394 772,655 1499,1495 2245,2181 316,290 675,613 940,944 989,1234 2145,2426 2855,3810 612,1192 806,2656 982,4015 89,694 306,1537 -377,2211 -179,175 -64,714 1,1069 321,1754 609,3519 1029,5250 371,1529 895,2453 1357,3960 368,1194 744,1859 1153,3135 205,0 639,0 1015,0 192,0 470,1929 501,2588 16,380 -468,1041 -549,1458 -173,873 -214,1914 -338,2800 -344,2446 -703,4958 -901,7482 422,-936 842,-1837 1324,-2907 418,468 831,909 1201,1368 1723,2137 3568,4203 5109,6464 1409,2068 842,3732 -1256,5162 -953,649 -1945,1328 -2658,2204 -417,511 -597,1532 -397,2170 687,2193 252,3289 -1920,4066 -160,58 -320,120 -481,179 304,415 619,816 901,1238 536,802 638,1544 73,2468 -637,1045 -1067,2229 -1479,3392 -115,320 69,828 264,1165 1443,2481 2088,5025 607,7713 -1205,2184 -3275,2996 -5597,3383 -1013,168 -2038,338 -3018,637 -1463,446 -2934,687 -4408,757 106,2088 219,4174 265,6263 26,1157 426,1626 1531,1953 5204,1537 10254,3459 14844,6424 616,399 1190,861 1779,1301z"/>
                        <path class="fil1 str0" d="M50919 146720c-104,-7211 -210,-14401 -302,-21612 -70,-5509 -289,-11016 -183,-16517l-11430 933c139,1323 85,2706 -165,4142 -879,5049 -2301,10018 -2954,15090 -496,3872 -353,7862 -134,11779 175,3164 885,6297 1363,9444 576,3797 -1334,6477 -3969,8828 -305,273 -642,510 -1013,800 1757,3071 3990,5166 7487,6148 103,29 2481,390 4675,-72 2197,-462 4921,-2274 6103,-5090 1181,-2809 661,-9373 595,-12816 -9,-367 -68,-691 -73,-1057zm-5628 9741c-959,774 -2362,625 -3136,-332 -774,-958 -625,-2361 333,-3135 957,-773 2361,-625 3134,333 774,956 625,2359 -331,3134zm1116 -37877c-958,774 -2362,625 -3136,-333 -773,-957 -625,-2360 333,-3134 957,-774 2361,-626 3134,332 774,958 626,2361 -331,3135z"/>
                     </g>
                    </svg>
                </div>
            </div>
            
            <div class="section active" id="topPage">
                
            <video autoplay="autoplay" loop id="video-background" muted>
                <source src="video/aaa.mp4" type="video/mp4">
            </video>
                
                <div class="filter"></div>
                <div class="BlockContent">                    
                    <svg class="arrows">
                        <path class="a1" d="M0 0 L30 32 L60 0"></path>
                        <path class="a2" d="M0 20 L30 52 L60 20"></path>
                        <path class="a3" d="M0 40 L30 72 L60 40"></path>
                    </svg>
                </div>
                
                <div class="footer-social-links">
                    <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="section" id="legendPage">
                <div class="BlockContent">    
                    <div class="pageeTitle">Про нас</div>
                    <div id="legendText">
                        <div class="lt">
                            З давніх-давен історичне місто Львів славилось багатьма ремеслами. 
                            Серед них однією із найбільш шанованих професій була – професія Різника. 
                            Про це свідчить і найперше об’єднання ремісників у стародавньому Львові - Цех різників, 
                            а також і названа центральна площа у місті – Площа Різні, що залишається атрибутом культурної 
                            спадщини та історичного минулого і до сьогодні. Саме тут, ще у не зовсім далекому, 
                            проте неменш загадковому 19 столітті розташовувалась величезна бійня худоби, 
                            яка дозволила місту бути центром м’ясообробної промисловості Західного регіону. 
                            Саме таке багате історичне минуле, цікавість  до гастрономічної культури, 
                            не дозволили нам залишитись байдужими і надихнуло нас на створення унікального смаку 
                            у наших виключно натуральних ковбасах. <br>
                            Відновлюючи традиції, але не відстаючи від сучасних 
                            інновацій ми вкладаємо у наші ковбаси:  
                            100 г любові,  
                            50 г історії, 
                            20 г чудового смаку, 
                            10 г неповторного аромату та тільки ретельно відібрану сировину.  
                            У нас є, що Вам запропонувати! У нас є чим Вас здивувати! 
                            Що ж Вам ще розповідати? Прийдіть і скуштуйте історію на смак!
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="gallery">
                <div class="BlockContent"> 
                    <div class="pageeTitle white">Фотогалерея</div>
                    <div id="photoContent">
                        <div class="imageList fp-scrollable"></div>
                        <div id="gallery_text">
                            <div class="instagram-data">
                                <div class="insta-icon"></div>
                                <div class="insta-link">@lvivskamasarnia</div>                                
                            </div>                            
                        </div>                       
                    </div>  
                    <div class="openImage openImageOP">
                        <div class="image-controll">
                            <div class="controll-btn" id="prew"><</div>
                            <div class="controll-btn" id="next">></div>
                        </div>
                        <div id="imaaages">
                            <div id="closeImage">x</div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="BlockContent"> 
                    <div class="pageeTitle">Інформація</div>
                    <div class="infoContent">
                        <div class="info-page">
                            <div class="left-info">
                            <div class="mini-title">Магазини</div>
                            <div class="shops">                                
                                <div class="shop">
                                    <div class="adressa">Львів, вул.Франка 10</div>
                                    <div class="opened">з 09:00 до 20:00 <span>(Відчинено)</span> </div>
                                    <div class="mapBTN">Карта</div>
                                </div>
                                <div class="shop">
                                    <div class="adressa">Львів, вул.Дорошенка 10</div>
                                    <div class="opened">з 09:00 до 21:00 (Незабаром відкриття)</div>
                                    <div class="mapBTN">Карта</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="right-info">
                            <div class="mini-title">Зворотній звязок</div>
                            <div class="contact">
                                <div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">
      
      <p class="name">
        <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Імя" id="name" />
      </p>
      
      <p class="email">
        <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
      </p>
      
      <p class="text">
        <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Введіть текст повідомлення..."></textarea>
      </p>
      
      
      <div class="submit">
        <input type="submit" value="SEND" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>                         
                            </div>
                        </div>
                        
                        <div class="partners">
                            <div class="pageeTitle">Наші партнери</div>
                            <div class="partners-block">
                                <div class="partner" style="background-image: url(../../../image/data/partners/1.png)"></div>
                                <div class="partner" style="background-image:  url(../../../image/data/partners/2.png)"></div>
                                <div class="partner" style="background-image: url(../../../image/data/partners/3.png)"></div>
                                <div class="partner" style="background-image: url(../../../image/data/partners/4.png)"></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </body>        
</html>
