<!DOCTYPE html>
<html>
    <head>
        <title>Різник - Львівська масарня</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="icon" type="image/png" href="../../../image/icons/16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../../../image/icons/32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../../../image/icons/96.png" sizes="96x96">
        
        <link href="style/swiper.min.css" rel="stylesheet" type="text/css"/>
        <link href="style/index-style.css" rel="stylesheet" type="text/css"/>
        <link href="style/min.index-style.css" rel="stylesheet" type="text/css"/>
        
        <script type="text/javascript" src="script/jquery-3.2.1.js"></script>
        <script src="script/swiper.min.js" type="text/javascript"></script>    
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO7fbt_nL8-D_B7S9XYtkYJr2QvJjFb1Y&callback=initMap"></script>
    </head>
    <body>
        <div id="document-preload">
            <div id="load">
                <div>G</div>
                <div>N</div>
                <div>I</div>
                <div>D</div>
                <div>A</div>
                <div>O</div>
                <div>L</div>
            </div>
        </div>
        <div class="content blur">
            <div class="block" id="head"> 
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                      <% for(var i = 0; i < slides.length; i++) { %>
                        <div class="swiper-slide">
                          <div class="slide-inner" style="background-image: url(../image/slide/<%= slides[i] %>)"></div>
                        </div>
                      <% } %>                   
                  </div>
                  <div class="swiper-button-next swiper-button-white"></div>
                  <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="slogan" id="slog1">Не знайшовши натуральної ковбаси,</div>
                <div class="slogan" id="slog2">МИ ЗРОБИЛИ ЇЇ САМІ!</div>
                <div class="LOGOTYPE"></div>
                <div class="head-menu">                    
                    <div class="center">
                        <section id="button-container">
                            <div class="container">
                                <div class="button v13 head-btn md-trigger" data-modal="modal-10">
                                    <span class="label">Онлайн магазин</span>
                                    <span class="icon">
                                        <span></span>
                                    </span>
                                </div>
                                
                                <div class="button v13 head-btn" id="toNews">
                                    <span class="label">Новини</span>
                                    <span class="icon">
                                        <span></span>
                                    </span>
                                </div>                                

                                <div class="button v13 head-btn" id="toAbout">
                                    <span class="label">Про нас</span>
                                    <span class="icon">
                                        <span></span>
                                    </span>
                                </div>                                
                            </div>
                        </section>
                    </div> 
                    <div class="cabinet-btn"></div>
                </div>   
                <div class="mobile-menu-btn">
                   
                    <div class="mobile-menu">
                        <div class="mButton md-trigger" data-modal="modal-10">Магазин</div>
                        <div class="mButton md-trigger">Про нас</div>
                        <!--<div class="mButton md-trigger">Акції</div>-->
                    </div>
                </div>
                
                <div class="auth-block">
                    <div class="logData">
                        <input type="text" placeholder="Логін" id="login">
                    </div>
                    <div class="logData">
                        <input type="password" placeholder="Пароль" id="pass">
                    </div>
                    <div class="logData">
                        <input type="button" value="Вхід" id="logIn">
                    </div>
                </div>
                
                <div class="footer">
                    <div class="foot-L"></div>
                    <div class="foot-R">
                        <div id="wrapper">
                          <div id="share">
                            <a href="#" class="container twitter">
                              <svg  preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200" class="circle">  
                                 <circle cx="100" cy="100" r="75"/>
                              </svg>
                              <div class="social">
                                <i class="fa fa-twitter"></i>
                              </div>
                            </a>
                            <a href="#" class="container facebook">
                              <svg  preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200" class="circle">  
                                 <circle cx="100" cy="100" r="75"/>
                              </svg>
                              <div class="social">
                                <i class="fa fa-facebook"></i>
                              </div>
                            </a>
                            <a href="#" class="container google">
                              <svg  preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200" class="circle">  
                                 <circle cx="100" cy="100" r="75"/>
                              </svg>
                              <div class="social">
                                <i class="fa fa-google-plus"></i>
                              </div>
                            </a>
                            <a href="#" class="container pinterest">
                              <svg  preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200" class="circle">  
                                 <circle cx="100" cy="100" r="75"/>
                              </svg>
                              <div class="social">
                                <i class="fa fa-youtube"></i>
                              </div>
                            </a>
                            <a href="#" class="container linkedin">
                              <svg  preserveAspectRatio="xMinYMin meet" viewBox="0 0 200 200" class="circle">  
                                 <circle cx="100" cy="100" r="75"/>
                              </svg>
                              <div class="social">
                                <i class="fa fa-instagram"></i>
                              </div>
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="block" id="news">
                <div class="news-head">
                    <div class="scroll-to-start-icon">
                        <div></div>
                    </div>
                </div>                               
                <div class="nb-text"><b>Новини</b></div>                      
                
                <div class="data-content">
                    <div class="data-content-head"></div>
                    <div class="data-contents">
                        <div id="news-block">
                            <div class="navs-abso">
                                <div class="naws-container">
                                <div class="news-title">
                                    <div class="news-title-icon"></div>
                                    <div class="news-title-text">Відкриття магазину</div>
                                </div>
                                <div class="news-params">
                                    <div class="news-date">13.05.2018</div>
                                </div>
                                <div class="news-image"></div>
                                <div class="news-data-text">
                                    ТАкой то тестовый текст, типо для новости и так даоее,
                                    ну вобщем ничего прикольного. А так то все крут, делаем работаем и все получаеться.
                                </div>
                            </div>
                            
                            <div class="naws-container">
                                <div class="news-title">
                                    <div class="news-title-icon"></div>
                                    <div class="news-title-text">Відкриття магазину</div>
                                </div>
                                <div class="news-params">
                                    <div class="news-date">13.05.2018</div>
                                </div>
                                <div class="news-image"></div>
                                <div class="news-data-text">
                                    ТАкой то тестовый текст, типо для новости и так даоее,
                                    ну вобщем ничего прикольного. А так то все крут, делаем работаем и все получаеться.
                                </div>
                            </div>
                            
                            <div class="naws-container">
                                <div class="news-title">
                                    <div class="news-title-icon"></div>
                                    <div class="news-title-text">Відкриття магазину</div>
                                </div>
                                <div class="news-params">
                                    <div class="news-date">13.05.2018</div>
                                </div>
                                <div class="news-image"></div>
                                <div class="news-data-text">
                                    ТАкой то тестовый текст, типо для новости и так даоее,
                                    ну вобщем ничего прикольного. А так то все крут, делаем работаем и все получаеться.
                                </div>
                            </div>
                            </div>                            
                            <div class="news-navigate">
                                <div class="news-nav" id="news-prew"><</div>
                                <div class="news-nav" id="news-next">></div>
                            </div>                            
                        </div>
                    </div>
                </div>   
                
            </div>
            <div class="block" id="about">
                <div class="popular-text">
                    Ви запитаєте хто <b>ми</b> такі ?<br> А <b>ми</b> вам розкажемо
                </div>  
                <div class="legend">
                    
                    <div class="legend-text">
                        <%= main_data[0].legend %>
                    </div> 
                    <div class="btn-fullLegend">Показати повністю</div>
                </div>
            </div>                     
            <div class="block" id="shops">
                <div class="nb-text"><b>Наші</b> магазини<br> </div>
                <div class="SHOPS-BLOCK">                           
                    <div class="myShops">
                        <div class="shopsBlockNAv">
                            <div class="shopsPrev"><</div>
                            <div class="shopsNext">></div>
                        </div>
                        <div class="shops sh1">
                            <div class="sPhoto" id="shops1"></div>
                            <div class="sPinfo">
                                <div class="sPblock">
                                    <div class="sPline title">Адрес магазину:</div>
                                    <div class="sPline">Україна</div>
                                    <div class="sPline">Львівська область,</div>
                                    <div class="sPline">місто Львів,</div>
                                    <div class="sPline">вулиця Костомарова 10</div> 
                                    <div class="sPline title">Номер:</div>
                                    <div class="sPline number">
                                        <div class="operatop kievstar"></div>
                                        <div class="numbers">+380970000000</div>
                                    </div>
                                    <div class="sPline number">
                                        <div class="operatop life"></div>
                                        <div class="numbers">+380630000000</div>
                                    </div>
                                    <div class="sPline number">
                                        <div class="operatop mts"></div>
                                        <div class="numbers">+380660000000</div>
                                    </div>
                                </div>    
                                <div class="toMap"></div>
                            </div>
                        </div>
                        <div class="shops sh2">
                            <div class="sPhoto" id="shops2"></div>
                            <div class="sPinfo">
                                <div class="sPblock">
                                    <div class="sPline title">Адрес магазину:</div>
                                    <div class="sPline">Україна</div>
                                    <div class="sPline">Львівська область,</div>
                                    <div class="sPline">місто Львів,</div>
                                    <div class="sPline">вулиця Коновальця 10</div>  
                                    <div class="sPline title">Номер:</div>
                                    <div class="sPline number">
                                        <div class="operatop kievstar"></div>
                                        <div class="numbers">+380970000000</div>
                                    </div>
                                    <div class="sPline number">
                                        <div class="operatop life"></div>
                                        <div class="numbers">+380630000000</div>
                                    </div>
                                    <div class="sPline number">
                                        <div class="operatop mts"></div>
                                        <div class="numbers">+380660000000</div>
                                    </div>
                                    
                                   
                                    <div class="toMap"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="block" id="footers">
                <div class="footers-left">
                    
                </div>
                <div class="footers-right"></div>                
            </div>
            <div class="md-modal md-effect-10" id="modal-10">
                <div class="md-content">
                    <iframe id="mainFraime" src="shop"></iframe>
                </div>
            </div>
            
            <div class="md-modal-map md-effect-6" id="modal-6">
                <div class="modal-6-close">X</div>
                <div class="md-content-map">
                    <h3>Карта</h3>
                    <div>
                       <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>     
        <div id="toTop"></div>
        <script type="text/javascript" src="script/index-script.js"></script>
    </body>        
</html>
