<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Онлайн магазин</title>
        <style type="text/css">
            .warn{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <div class="warn">Магазин знаходиться в розробці...</div>
    </body>
</html>
