<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Онлайн магазин</title>
         <link href="style/shops/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>        
        <div class="head-menu">
            
        </div>
    </body>
</html>
