<html>
    <head>
        <title>≡ Онлайн магазин "Різник"</title> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../../../image/icons/16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../../../image/icons/32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../../../image/icons/96.png" sizes="96x96">
        <link href="style/supporting/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="script/jquery-3.2.1.js"></script>
    </head>
    <body>
        <div class="title">Магазин знаходиться в розробці</div>
        <div class="texture"></div>
        <div class="wrap">
            <div id="gears" class="gear1">
                <ul>
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                </ul>
            </div>
            <div id="gears" class="gear2">
                <ul>
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                </ul>
            </div>
            <div id="gears" class="gear3">
                <ul>
                    <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                </ul>
            </div>
        </div>
    </body>    
</html>

