@media screen and (max-width: 800px) {
    .head{
        height: 50px;
        min-width: 360px;
    }
    .head-buy{
        height: 50px;
    }
    .searchLine{
        display: none;
    }
    .filters{
        display: none;
    }
    .sort{
        display: none;
    }
    .mobile-menu{
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        float: left;
        margin: 4px 0 0 5px;
        cursor: pointer;
    }
    .line-menu{
        width: 100%;
        height: 3px;
        position: absolute;
        background: #b09337;
        transition: 0.3s;
    }

    #lineTOP{top: 5px;}
    #lineCENTER{
        top: 50%;
        transform: translate(0, -50% );
    }
    #lineBOTTOM{bottom: 5px;}

    .openMobMenu #lineTOP{
        top: 20px;
        transform: rotate(45deg);
    }
    .openMobMenu #lineCENTER{
        top: 50%;
        transform: translate(0, -50% );
        opacity: 0;
    }
    .openMobMenu #lineBOTTOM{
        bottom: 17px;
        transform: rotate(-45deg);
    }

    .menu{
        display: none;
    }
    .btnHead{
        width: 50px;
        height: 50px;
        background-size: 30px;
    }
    .basket div{
        font-size: 11px;
        left: 25px;
        top: 6px;
    }
    #searchValue{
        font-size: 38px;
        height: 54px;
    }
    .content{
        top: 50px;
        min-width: 360px;
    }
    .title-block{
        top: 0;
        width: 100%;
        background: #b09337;
        height: 36px;
        font-size: 22px;
        line-height: 36px;
        color: white;
    }
    .tovarDB{
        width: calc(100% - 10px);
        height: 220px;
        margin: 20px 5px 0 5px;
    }
    .tovar-left{
        width: 160px;
        height: 160px;
    }
    .tovar-right{
        width: calc(100% - 160px);
    }
    .tovar-title{
        top: 4px;
        font-size: 13px;
    }
    .tovar-text{
        top: 22px;
        width: 100%;
        padding: 0 5px 5px 5px;
        font-size: 9px;
    }

    .tovar-right-bottom{
        position: absolute;
        width: calc(100% + 160px);
        bottom: 0;
        left: -160px;
    }
    .price{
        padding: 15px 18px;
        font-size: 12px;
        background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNv…4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 10px;
        margin-right: 10px;
        /*position: absolute;*/
        top: -32px;
    }
    .nayavnist {
        position: absolute;
        top: -6px;
        font-size: 14px;
        text-align: center;
        left: 17px;
    }
    .button {
        padding: 4px 12px 4px 12px;
        border: 1px solid #68a341;
        box-shadow: 0 1px 2px 0 #a4ca6c inset;
        -webkit-box-shadow: 0 1px 2px 0 #a4ca6c inset;
        -moz-box-shadow: 0 1px 2px 0 #a4ca6c inset;
        background: -webkit-linear-gradient(top, #e4bf48 0%,#b09337 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c161', endColorstr='#609c3d',GradientType=0 );
        color: white;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: -10px;
    }
    .details {
        position: absolute;
        right: 10px;
        bottom: 9px;
        font-size: 13px;
        cursor: pointer;
    }
    .call-btn{
        display: none;
    }
    .dataOfForm{
        margin-top: 25px;
    }
    .tovarID{
        left: calc(-157px);
        right: inherit;
        top: 2px;
    }
    .mobile-menu-block{
        position: fixed;
        top: 50px;
        width: 100%;
        height: calc(100% - 50px);
        background: #b09436;
        z-index: 100;
    }
    .page-control{
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .page, .prewPage, .toPage{
        width: 36px;
        height: 36px;
        line-height: 36px;
        color: white;
        font-size: 14px;
        background-size: 20px;
    }

    .mobile-menu-block .filters{
        display: block;
        margin: 10px auto;
        width: fit-content;
    }
    .mobile-menu-block .sort{
        position: absolute;
        left: 50%;
        top: 60px;
        transform: translate(-50%, 0);
        display: block;
        background: white;

    }

    .filter-btn {
        background: white;
    }

    .btnActive {
        /*background: -webkit-linear-gradient(top, #b09436 0%,#b09436 100%);*/
        color: #b09436;
    }

}
